<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdxmx.miniprogram.mapper.QuestionMapper">
    <select id="getByIds" resultMap="BaseBaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM questions
        WHERE id IN
        <foreach collection="questionIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>