server:
    port: 7001
    context-path: /
    tomcat:
        max-threads: 800
        max-connections: 5000
        uri-encoding: UTF-8
        accesslog:
            enabled: true
            basedir: /data/log/ik.miniprogram.com

logging:
    classpath: logback.xml

scheduler:
    allowedTaskExecute: true

spring:
    application:
        name: ik-miniprogram
    http:
        encoding.charset: UTF-8
    datasource:
        name: ik
        url: jdbc:mysql://localhost:3306/bdxmx_miniprogram?characterEncoding=utf8&autoReconnect=true
        username: root
        password: root
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        connectionInitSqls: set names utf8mb4
        filters: stat
        maxActive: 100
        initialSize: 2
        maxWait: 60000
        minIdle: 8
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 120000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 100
    redis:
        database: 1
        host: localhost
        port: 6379
        password:
        pool:
            max-active: 8
            max-idle: 8
            max-wait: -1
            min-idle: 0
cros:
  origins:
    - http://api.bdxmx.com/

files:
  host: files.bdxmx.com
  prefix: /data/files/bdxmx/miniprogram
  video: /videos
  audio: /audios
  image: /images
  tmp: /tmp